extends layout.pug

block content
    section(class="login-container")
        h1(class="logo") LOGO
        form
            h1 Login
            input(class="login-input" placeholder="USERNAME")
            input(class="login-input" placeholder="PASSWORD")
            input(class="login-submit" type="submit" value="LOGIN")
            a(href="login") Forgot username?
            a(href="login") Forgot password?
            a(href="login") Register