extends layout.pug

block content
    section(class="login-container")
        h1(class="logo") LOGO
        form
            h1(class="form-title") Login
            input(class="form-input" placeholder="USERNAME")
            input(class="form-input" placeholder="PASSWORD")
            input(class="form-submit" type="submit" value="LOGIN")
            a(href="login") Forgot username?
            a(href="login") Forgot password?
            a(href="register") Register