extends layout-home.pug

block content
    nav(class="nav-messages")
    section(class="messages-container")
        section(class="messages-list-container")
            ol(class="messages-list")
        form(class="messages-form")
            input(class="messages-input" placeholder="Write something...")
            input(class="form-submit" type="submit" value="Send")

block scripts
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/src/socket.js")
