extends layout-home.pug

block content
    nav(class="messages-sidebar")
    section(class="messages-container")
        section(class="messages-list")
        form(class="messages-form")
            input(class="messages-form_input" placeholder="Write something...")
            input(class="messages-form_submit" type="submit" value="Send")

block scripts
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/src/socket.js")
