#header {
    background-color: #f7fafc;
    height: 55px;
    background-color: #1a2432;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 750px;
}

#header-title {
    font-size: 2em;
    position: absolute;
    right: 50%;
    color: #f7fafc;
}

#login-button {
    position: absolute;
    right: 0;
    margin-right: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #81e6d9;
}

#content {
    height: 83.5vh;
    min-width: 750px;
    width: 100vw;
    overflow:hidden;
    overflow-y:scroll;
    box-sizing: border-box;
    padding: 20px;
}

#footer {
    bottom: 0;
    position: absolute;
    height: 75px;
    width: 100vw;
    min-width: 750px;
    box-sizing: border-box;
    padding: 20px;
}

#message-list {
    list-style-type: none;
    font-size: 25px;
    color: #f7fafc;
}

#message-list-container {
    float: left;
    background-color: #283141;
    height: 100%;
    width: 70%;
    border-width: 3px;
    border-style: solid;
    border-color: #81e6d9;
    margin-right: 20px;
}

#user-list-container {
    float: left;
    width: 28.47%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #81e6d9;
    background-color: #2d3748;
}

#user-list {
    list-style-type: none;
    font-size: 25px;
    color: #f7fafc;
}

#message-form {
    height: 100%;
    width: 100%;
    display: none;
}

#message-input {
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    font-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #81e6d9;
    background-color: #1a2432;
    color: #f7fafc;
}

#message-submit {
    width: 10%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #81e6d9;
}

body {
    background-color: #2d3748;
    margin: 0;
}